* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

blockquote {
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.04);
  width: 60%;
  line-height: 2rem;
  border-left: solid 2px red;
  margin: auto;
  padding-left: 10px;
  text-align: justify;
}

p,
div {
  padding: 10px;
  font-size: 14px;
}

h2 {
  text-transform: uppercase;
}
